<!DOCTYPE html>
<html>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
    </script>
    
    <script type="text/javascript">
        function showDiv(id) {
            ele = document.getElementById(id);
            if (ele.style.display === "none") {
                ele.style.display = "inline";
            } else {
                ele.style.display = "none";
            }
        }
    </script>
    
    
<link rel="stylesheet" href="/static/style2.css">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        {% for text in texts -%}{{ text|safe }} {%- endfor %}
        {% for table in tables %}
            {{ table|safe }}
        {% endfor %}
        
        {% for key, value in ety_list %}
            {% if value != 'other' %}
                <span class="tooltip" onclick="javascript:showDiv('{{key}}');"> {{key}} <span class="tooltiptext">{{value}}</span></span>
            {% else %}
                {{ key }}
            {% endif %}
        {% endfor %}
        
    </body>
    <br>
    <br>
    {% for key, value in ety_list %}
            {% if value != 'other' %}
                <span style="white-space: pre-wrap; display: none; padding: 1px; line-height: .1;" id='{{key}}' >{{click_func(key)}}<br></br></span>
                
            {% endif %}
        {% endfor %}
    
    
    
</html>